@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background-image: url(assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

/* HEADER SECTION*/
header {
  padding-block-start: 24px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: none;
}
