@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* HEADER SECTION*/
header {
  padding-block-start: 24px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* js for mobile navigation */
nav {
  /* display: none; */
  transform: translateX(100%);
  position: fixed;
  inset: 0 0 0 28%;
  padding-inline: 40px 0px;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1.5rem);
  transition: transform 300ms ease-in;
  z-index: 999;
}

nav[data-visible="true"] {
  /* display: block; */
  transform: translateX(0%);
}

nav ul {
  display: flex;
  flex-direction: column;
  padding-block-start: 120px;
  gap: 26px;
}

nav ul li a {
  padding-block: 6px;
  display: inline-block;
  width: 100%;
  color: hsla(0, 0%, 100%, 0.9);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

nav ul li a span {
  margin-right: 10px;
  font-weight: bold;
}

.harmburger {
  z-index: 1000;
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
}

nav ul li a:hover {
  border-inline-end: 4px solid hsl(0, 0%, 100%);
}

/* SECTION MEDIA QUERY */
@media (min-width: 648px) {
  header {
    padding-inline-end: 0px;
    padding-block: 0px;
  }

  .harmburger {
    display: none;
  }

  nav {
    display: block;
    position: initial;
    inset: initial;
    padding-inline: 28px 40px;
    /* backdrop-filter: initial; */
    transform: initial;
    transition: initial;
  }

  nav ul {
    flex-direction: row;
    gap: 32px;
    padding-block: 28px;
  }

  nav ul li a {
    padding-block: initial;
    display: initial;
    padding-block-end: 28px;
  }

  nav ul li a span {
    display: none;
  }

  nav ul li a:hover {
    border: initial;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
}

@media (min-width: 1100px) {
  header {
    padding-inline-start: 52px;
    padding-block-start: 26px;
    position: relative;
  }

  header .nav-line {
    width: calc(100% - 900px);
    height: 1px;
    position: absolute;
    left: 160px;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.4;
    z-index: 1000;
  }

  nav {
    padding-inline: 96px 150px;
  }

  nav ul {
    gap: 48px;
  }

  nav ul li a {
    letter-spacing: 2.7px;
  }

  nav ul li a span {
    display: inline;
  }
}
