@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background-image: url(assets/technology/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

.image-potrait {
  display: none;
}

#technology {
  margin-block-start: 20px;
}

#technology h1,
#technology h2,
#technology h3,
#technology p {
  text-align: center;
}

#technology h1 {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 18px;
  font-family: "Barlow condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 2.7px;
}

#technology h1 span {
  margin-right: 16px;
  opacity: 0.4;
  font-weight: bold;
}

#technology .technology-specs {
  display: flex;
  flex-direction: column;
  margin-block-start: 32px;
}

#technology .technology-image .image-landscape {
  width: 100%;
}

#technology .specs-secondary {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 40px;
}

#technology .specs-secondary .technology-slider-button {
  margin-inline: auto;
}

#technology .specs-secondary .technology-slider-button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  aspect-ratio: 1;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  margin-inline: 8px;
}

#technology .technology-description {
  margin-block-start: 28px;
}

#technology .technology-description h2 {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1.75px;
  color: hsla(0, 0%, 100%, 0.7);
}

#technology .technology-description h3 {
  text-transform: uppercase;
  margin-block: 12px 20px;
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: normal;
  font-family: "Bellefair", serif;
  font-size: 28px;
}

#technology .technology-description p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: hsla(230, 35%, 100%, 0.7);
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
}

/* SECTION MEDIA QUERY */
@media (min-width: 648px) {
  .container {
    background-image: url(assets/technology/background-technology-tablet.jpg);
  }

  #technology {
    margin-block-start: 32px;
  }

  #technology h1 {
    text-align: initial;
    padding-inline-start: 30px;
  }

  #technology .technology-specs {
    margin-block-start: 40px;
  }

  #technology .technology-image {
    overflow-x: hidden;
  }

  #technology .technology-image .image-landscape {
    width: 101%;
  }

  #technology .specs-secondary .technology-slider-button span {
    width: 48px;
  }
  #technology .technology-description h2 {
    font-size: 14px;
  }

  #technology .technology-description h3 {
    font-size: 32px;
  }
}

@media (min-width: 1100px) {
  .container {
    background-image: url(assets/technology/background-technology-desktop.jpg);
  }

  #technology h2,
  #technology h3,
  #technology p {
    text-align: initial;
  }

  .image-landscape {
    display: none;
  }

  #technology .technology-image .image-potrait {
    display: initial;
    width: 396px;
  }

  #technology {
    padding-inline: 0;
    width: 92%;
    margin-inline: auto 0px;
    margin-top: 50px;
  }

  #technology h1 {
    padding-inline-start: 0px;
  }

  #technology .technology-specs {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #technology .technology-image {
    order: 1;
  }

  #technology .specs-secondary {
    flex-direction: row;
    gap: 56px;
    padding-block: 0px;
  }

  #technology .technology-description {
    margin-block-start: 0px;
  }

  #technology .specs-secondary .technology-slider-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #technology .specs-secondary .technology-slider-button span {
    width: 56px;
    margin-inline: 0px;
  }

  #technology .technology-description h3 {
    font-size: 56px;
    margin-block-end: 8px;
  }

  #technology .technology-description p {
    width: initial;
    max-width: 420px;
    margin-inline: 0px;
  }
}
